*{
    margin:0px;
    
}
.top-navbar{
    padding-top:20px;
    width:100%;
    height:37.34px;
    background-color:rgb(0, 0, 0);
    border-bottom:1px solid rgb(134, 133, 133)

}
.top-navbar:hover{
  background-color: rgb(67, 67, 67);
}
.font{
    text-align: center;
    color:white;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
     
}
.navbar{
    position:relative;
    height:89.2px;
    width:100%;
    background:black;
    
    margin-bottom:40px;
} 
.font-image img{
 width:120px;
 height:25.91px;
 position:relative;
 top: 28px;
 left: 140px;
}
.fonts{
   
    display: flex;
    gap: 20px;
    color: rgb(196, 183, 183);
    font-size: small;
    position: absolute;
    top: 32px;
    left: 310px;
    font-family: Arial, Helvetica, sans-serif;
}
.p1{
    text-decoration:underline;
    color:white;
}
.p1:hover{
   text-decoration-thickness: 2px;
}

.p2:hover{
    text-decoration:underline;
    color: white;
}
.p3:hover{
    text-decoration:underline;
      color: white;
}
.p4:hover{
    text-decoration:underline;
      color: white;
}
.grid{
  position:absolute;
  left:211px;
  display:grid;
  grid-template-rows: 350px 350px 350px;
  grid-template-columns:repeat(3,350px);
  gap:10px;
}
.grid div{
  display:flex;
 
}
.photo img{
 
  position:absolute;
  left:210px;
  top:1360px;
  width:393px;
  height:450px;
    
}
.photo{
  width:393px;
  height:450px;
    
  margin-bottom:40px;
}

.paragraph-heading{
  
  position:absolute;
  left:700px;
  top:1450px;
  font-size:30px;
}
.paragraph{
  color:grey;
  position:absolute;
  left:700px;
  top:1525px;
  font-size:25px;
}
.button{
 width: 140px;
    height: 49px;
    background-color: black;
    color: white;
    position: absolute;
    left: 697px;
    top: 1586px;
}
.footer{
  position:relative;
 top:1228px;
  background-color:black;
  width:100%;
  height:300px;
  color:white;
  font-size:18px;
   
  text-align:center;
  
  
}
.footer img{
  width:19.8px;
  height:19.8px;
}
.paragraph1{
  color:grey;

}
.P2:hover{
  text-decoration-thickness:10px ;
  color:white;
}
.P3:hover{
  text-decoration-thickness:5px ;
  color:white;
}
.P4:hover{
  text-decoration-thickness:5px ;
  color:white;
}
.footer2{
  width:100%;
  height:150px;
  background-color:black;
  position:relative;
  top:1227px;
  border-top:1px solid grey;
  color:white;
}
.text{
   color:grey;
   font-size:15px;
   display:flex ;
   position:absolute;
      top: 93px;
    left: 165px;
}
.hover1:hover{
  text-decoration:underline;
  text-decoration-thickness:1px;
  color:white;
}
.hover2:hover{
  text-decoration:underline;
  text-decoration-thickness:1px;
  color:white;
}
.hover3:hover{
  text-decoration:underline;
  text-decoration-thickness:1px;
  color:white;
}
.hover4:hover{
  text-decoration:underline;
  text-decoration-thickness:1px;
  color:white;
}
.hover5:hover{
  text-decoration:underline;
  text-decoration-thickness:1px;
  color:white;
}
.hover6:hover{
  text-decoration:underline;
  text-decoration-thickness:1px;
  color:white;
}
.hover7:hover{
  text-decoration:underline;
  text-decoration-thickness:1px;
  color:white;
}
.profile img{
 width: 50px;
    height: 50px;
    position: absolute;
    right: 213px;;
}
.shope img{
   width:50px;
  height:50px;
  position:absolute;
  right:146px;
}